<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<body>
<div layout:fragment="content">
    <section class="wrapper">
<!--  Header and breadcrumb -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-bars"></i> Human Resource </h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/index">Home</a></li>
                    <li><i class="fa fa-laptop"></i>Human Resource</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Employee</b></h3></h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="/countries" class="btn btn-primary">Manage Employees</a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Employee Types</b></h3></h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="/modules" class="btn btn-primary">Manage Employee Types</a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Job Title</b></h3></h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="/states" class="btn btn-primary">Manage Job Title</a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Persons</b></h3></h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="/locations" class="btn btn-primary">Manage Persons</a>
                        </div>
                    </div>
                </section>
            </div>


        </div>

</section>
</div>

</body>
</html>